html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #555252;
  width: 1110px;
  margin: 0 auto;
}

.page-header{
  padding: 35px 0;
}

.logo {
  display: inline-block;
  float: left;
  text-decoration: none;
  height: 21px;
  width: 111px;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #555252;
}

.logo::first-letter {
  color: #1abc9c;
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
}


.menu li{
  float: left;
}

.menu {
  float: right;
  height: 21px;
  margin: 0; 
  padding: 0;
  list-style: none;
  margin-top: 8px;

}

.menu a {
  font-size: 14px;
  line-height: 11px;
  margin-left: 13px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #0f0101;
}

.menu a:hover{
  color: #1abc9c;
}

.menu a:focus{
  color: #c00817;
}


.clearfix::after {
  display: table;
  content: "";
  clear: both;
}


h2 {
  margin-top: 110px;
  text-align: center;
  font-size: 48px;
  line-height: 32px;
  color: #515151;
  text-transform: uppercase;
}


h2::after {
  display: block;
  width: 160px;
  height: 6px;
  background-color: #1abc9c;
  content: "";
  margin: 35px auto;
}


.catalog {
 width: 1110px;;
 margin: 0 auto;
}


.catalog-list {
padding: 0;
margin: 0;
margin-top: 92px;
list-style: none;
margin-bottom: 105px;
}


.catalog-item {
  float: left;
  width: 255px;
  height: 320px;
  background-color: #e9f0fd;
}

.catalog-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.catalog-item:not(:nth-last-child(-n + 4)){
  margin-bottom: 30px;
}

.name {
  display: block;
  float: left;
  margin: 0 auto;
  padding: 5px 0 5px 10px;
  background-color: #323232;
  color: #ffffff;
  width: 200px;
  height: 40px;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}

.price{
  display: block;
  float: right;
  margin: 0 auto;
  padding: 5px 0 5px 15px ;
  width: 55px; 
  height: 40px;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  background-color:#8c8c8c;
  text-transform: uppercase;
  text-decoration: none;
}


.catalog-item:hover .catalog-item-hover{
  background-color: #1abc9c;
}
.catalog-item:hover .name{
  background-color: #1abc9c;
}

.catalog-item:hover .price{
  background-color: #7fd9c7;
}


.catalog-list-news {
  padding: 0;
  margin: 0;
  margin-top: 82px;
  list-style: none;
  margin-bottom: 83px;
  }


.catalog-menu {
  float: left;
  width: 350px;
  height: 500px;
}

.catalog-menu:not(:nth-child(3n)) {
  margin-right: 30px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  font-weight: 600;
  color: #555252;
}

.title::after {
  display: block;
  width: 135px;
  height: 3px;
  background-color: #4ec6ab;
  content: "";
  margin: 16px auto;
  margin-left: 0;
  margin-bottom: 30px;
}

.about {
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
}


button{
  display: block;
  margin-top: 15px;
  width: 160px;
  height: 50px;
  background-color: #4ec6ab;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}