html {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v12-latin-700.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'),
       url('../fonts/montserrat-v12-latin-700.woff') format('woff'),
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v7-latin-regular.eot');
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'),
}

.main-header{
  position: relative;
  padding-top: 30px;
  z-index: 1;
}

.site-navigation{
  list-style: none;
  padding-bottom: 135px;
}

.site-navigation a {
  display: inline-block;
  position: relative;
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  padding: 0 12px;
 }

.site-navigation a::after{
  visibility: hidden;
  opacity: 0;
  width: 65px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: -8px 0 0 2px;
  transition: .4s linear;
}

.site-navigation a:hover:after {
  visibility: visible;
  opacity: 1;
}

.site-logo {
  display: block;
  font-family: 'Montserrat'"Arial", sans-serif;;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.wrapper-fon{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 540px;
  background-image: url(../img/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-list{
  position: absolute;
  top: 230px;
  left: 20px;
  right: 20px;
  margin: 0 auto;
  z-index: 2;
}

.name-list {
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
}
.about{
  font-family: 'Roboto Slab', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  }

.button{
  display: block;
  margin: 0 auto;
  outline: none;
  border: 0;
  width: 260px;
  height: 40px;
  border-radius: 50px;
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.button1{
  margin-top: 20px;
  background-color: #ff4e50;
  color:  #ffffff;
}

.button1:hover{
  background-color: #ffffff;
  color: #ff4e50;
}

.wrapper-section{
  display: block;
  margin-top: 410px;
}

.catalog-name-list{
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #333333;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
}

.catalog{
  position: relative;
  top: 20px;
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
}

.catalog:not(:last-child){
  margin-bottom: 20px;
}

.foto{
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
 }


.icon{
  position: absolute;
  top: 80px;
  left: 130px;
  border: 0;
  border: 4px solid #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon1 {
  background-color:  #ff4e50;
  background-image: url(../img/icon1.png);
}
.icon2 {
  background-color:  #1cd7ad;
  background-image: url(../img/icon2.png);
}
.icon3 {
  background-color:  #ffa507;
  background-image: url(../img/icon3.png);
}
.icon4 {
  background-color:  #4e73db;
  background-image: url(../img/icon4.png);
  background-position-x: 5px;
  background-position-y: 8px;
}

.catalog-name{
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  color:  #333333;
  font-size: 22px;
  text-align: center;
  padding-bottom: 20px;
}

.catalog-text{
  font-family: 'Roboto Slab', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #666666;
  font-size: 14px;
  text-align: center;
}

.button2{
  margin-top: 50px;
  margin-bottom: 60px;
  border: 2px solid #ff4e50;
  background-color:  #ffffff;
  color:  #ff4e50;
}

.button2:hover{
  background-color:  #ff4e50;
  color:  #ffffff;
}