$main-font-stack: 'Roboto', 'Arial', sans-serif;

$primary-white-color: #ffffff;

$primary-yellov-color: #fce38a;

$primary-dark-color: #333333;

$primary-light-color: #999999;

$primary-pink-color: #f38181;

$primary-footer-color: #95e1d3;

$primary-border-color: #e7e7e7;